html {
  font-family: helvetica;
}
h1, #nav, #process, .work {
  text-align: center;
}

.whitetext {
  color: white;
}

h1, h2, h3, h4 {
  font-weight: bold;
}
h1 {
    font-size: 70px;
}

#header {
  background-image: url("the-flatiron-building.png");
}

#nav {
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

#designed {
  background-image: url("the-flatiron-building.png");
}

#footer {
  font-size: 11px;
  background-color: dimgray;
}

p {
  font-size: 14px;
}

#footer {
  text-align: left;
}
